#top{
    
    background-image: url("/img/meat.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: table;
    width: 100%;
}
#top h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 60px;
    margin: auto;
    text-shadow: 2px 2px 2px #343333;
    display: table-cell;
    vertical-align: middle;
}




#container { 
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
    #container > .card {
    background-color: #d2f9d2;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0.5,0.5);
  }
  #container > .card img {
    max-width: 80%;
    margin: 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 25px;
    margin: 0;
  }
  .details{
    display: flex; 
    justify-content: space-between;   
  }
  .product,
  .location{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    color: #0f582e;
  }
  .card a{
    height: 20px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
  }
  .card a:hover{   
    background-color: #4baf5a;
    color: #ffffff
  }