#team-top{
    
    background-image: url("/img/team.jpeg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: table;
    width: 100%;
}
#team-top h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 60px;
    margin: auto;
    text-shadow: 2px 2px 2px #343333;
    display: table-cell;
    vertical-align: middle;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #0c7f3c;
    border-radius: 50%;
    top: 50px;
}

.container .icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .icon .imgBox {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: 0.5s;
    border: 5px solid #0c7f3c;
    transform: rotate(calc(360deg/6 * var(--i)));
    transform-origin: 370px;
    z-index: 100;
    overflow: hidden;
}

.container .icon .imgBox.active {
    border: 5px solid deepskyblue;
    background-color: lightcyan;
}

.container .icon .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/6 * var(--i)));
}

.content {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content::before {
    content: "";
    position: absolute;
    inset: 70px;
    border: 4px solid transparent;
    border-left: 4px solid #ac1c1c;
    border-right: 4px solid #98df52;
    border-radius: 50%;
    animation: animate_before 10s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_before {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}
.content::after {
    content: "";
    position: absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid #9e52df;
    border-right: 4px solid #afa919;
    border-radius: 50%;
    animation: animate_after 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_after {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}
.icon{
    height: 25px;;
}
.contentBox{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}
#team-bottom{
    margin-top: 100px;
    background-image: url("/img/team2.jfif");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.card .imgBox
{
    position:relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}
.card .imgBox img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .textBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .textBox h2{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 1.25em;
    text-align: center;
}
h2 span{
    font-size: 0.65em;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
}
.contacts li{
    list-style: none;
}
.contacts li p{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 0.65em;
    margin: auto;
}

.mContainer{
    display: none;
}

@media (max-width: 750px){
    .container{
        display: none;
    }

    .mContainer{
        padding: 10vh;    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 18px;
    align-items: stretch;
    background-image: url('/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .mcard {
        background-color: #fff;
        border-color: #0c7f3c;
        border-width: medium;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0.5,0.5);
        border-radius: 3%;  
        padding-bottom: 5vh;      
    }
    .mcard img {
        max-width: 80%;
        margin: 0;
        display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .mcard .textBox{
        margin:0px auto;
    }
    .mcard .textBox h2{        
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        font-weight: 600;
        font-size: 1.25em;
        text-align: center;
        align-items: center;
    }
    .mcard .textBox h6{        
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        font-weight: 100;
        font-size: 1em;
        text-align: center;
        align-items: center;
    }
    .mcard .textBox span{
        font-size: 0.8em;
        color: #000;
        font-weight: 500;
        letter-spacing: 0.1em;
        align-items: center;
        text-align: center;
    }
    
    #team-bottom{
        margin:0px
    }
}